/* Reseta as configurações CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*Estiliza o cabeçalho*/
  
  header {
    background: #333;
    width: 100%;
    color: #fff;
    padding: 50px 0;
    text-align: center;

  }
  
  /*Estiliza o menu*/

.menu{

  display: block;
  text-align: center;
  font-family:sans-serif;
  font-weight:bolder;
  font-size: 45px;
  margin: 3px;
  width: 100%;


}

.menu li a{
  text-decoration: none;
  color:#333 ;
  font-size: 20px;
}

.menu a:hover{
  color: #fff;
  background-color:#333;
  padding:8px 10px;
}
.menu li{

    display:inline-block;
    padding: 15px;
    

}

/*Estilo Padrão para o Subtítulo das páginas*/

.pro-title{
  text-align: center;
  padding:20px 50px;
  border-style: groove;
  background-color: slategray ;
}

.pro-title a{
 text-decoration: none;
 color:#fff;
 background-color: slategray ;
 text-align: center;
}
.pro-title h1{
  color: white;
  
}


/* Estiliza a seção Sobre Mim*/
.about{
width: 100%;
margin-top:2px;

}

.container-about{
margin: 10px 70px 25px auto;
padding: 10px;
padding-left: 40px;
font-size: 16px;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-about a{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-about h2{
  text-align: center;
  background-color: #333;
  
}
.container-about h2 a{
  color:#fff;
  font-size: 25px;
  
  
}

/*Estliza págna de Contato*/

.formulario{


}

.formulario h2{
 
}

.container-contato{
  margin: 10px 30px;
 
}

/*
.container-contato h2{
  background-color: #333;
  text-align: center;
}
.container-contato h2 a{
color:#fff;
margin-right: 5px;
text-align: center;
}

.container-contato a{

  text-decoration: none;
}
  */


.formulario{
  display: inline-block;
  width:300px;
  
}

.formulario input{
  padding-right: 300px;
}

/*
}
.formulario h2{

  font-size: 50px;
}
*/

/*Estiliza página Formação*/

.container-formacao{
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /*padding-top:5px;*/
  margin: 30px 20px 25px 15px;
}

/*.container-formacao h2{
background-color: #333;
text-align: center;

}

.container-formacao a{
  text-decoration: none;
}

.container-formacao h2 a{
  color:#fff;
  
}*/

/*Estiliza Página de Projetos*/


.projeto{
  justify-content: center; /* Centraliza conteúdo horizontalmente */
  margin-top:45px;
}

.projeto h1{
  text-align: center;
  color: #fff;
  background-color: slategray;
}

/* Cria uma grid de três colunas de tamanhos iguais*/




.container-projeto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 20px;
}

/*Estiliza as três colunas da grid*/
.box-projeto{
  text-align: center;
  background-color:#333;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.box-projeto a{
  text-decoration: none;
  color:#fff;
}


/*Estiliza o Rodapé*/
 
  footer{
    position: fixed;
    bottom: 0;
    padding: 3px;
    text-align: center;
    background: #333;
    color: #fff;
    width: 100%;
  }


  